<html>

<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
</head>

<body>
	<div>
		This is show_graph.html 

		First, show database data

	</div>

	<div>
<!-- 여기 아래부터가 그래프를 그리는 코드 -->
		<canvas id="myChart"></canvas>
		<script type="text/javascript">
		

		var ctx = document.getElementById('myChart').getContext('2d');
		var chart = new Chart(ctx, {
		    // The type of chart we want to create
		    type: 'line',

		    // The data for our dataset
    	data: {
	        //labels: ["DATA_A", "DATA_B", "DATA_C", "DATA_D", "DATA_E", "DATA_F"],
	        labels: [{% for d in data %} "{{forloop.counter}}" {% if forloop.counter < data|length %}, {% endif %}{% endfor %} ],
	        datasets: [
                {% for i in "012345" %}
                {
	            label: {{forloop.counter0|stringformat:"i"}},
	            backgroundColor: get_random_color(),
	            borderColor: recent_color, 
                    fill: false,
	            data: [
                      {% for d in data %}
                        {% if i == "0" %}
              	 	  {{d.DATA_A}},
			{% elif i == "1" %}
              	 	  {{d.DATA_B}},
			{% elif i == "2" %}
              	 	  {{d.DATA_C}},
			{% elif i == "3" %}
              	 	  {{d.DATA_D}},
			{% elif i == "4" %}
              	 	  {{d.DATA_E}},
			{% elif i == "5" %}
              	 	  {{d.DATA_F}},
			{% endif %}
                      {% endfor %}
                    ],
	            //data: [1, 2, 3, 4, 5, 6],
	        },
                {% endfor %}
                ],
    	},

    // Configuration options go here
    options: {
	scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Time'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Value'
                        }
                    }]
                }
    }
});


 var recent_color;
 function get_random_color() {
    var r = Math.floor(Math.random() * 255);
    var g = Math.floor(Math.random() * 255);
    var b = Math.floor(Math.random() * 255);
    recent_color = "rgb(" + r + "," + g + "," + b + ")";
    return recent_color;
}
	</script>
	</div>



</body>
</html>
